<table class="table table-striped">
    <tr>
        <th>問い合わせ日時</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>問い合わせ種類</th>
        <th>問い合わせ内容</th>
    </tr>

    <% @contacts.each do |contact| %>
    <tr>
        <td><%= l contact.created_at, format: :short %></td>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.contact_type %></td>
        <td><%= simple_format(h(contact.content)) %></td>
    </tr>
    <% end %>
</table>
